

table#overzicht{
    width: 100%;
    tr{
        &:hover{
            background-color:#dee2e6;
        }
    }
}
.welcome-msg{
    text-align: center;
}
.dt-buttons{
    float: none;
    display: flex;
    justify-content: flex-end;
}